table,tr,td{	
	border: 2px solid green;
	border-collapse: collapse;
}
table{
	position: absolute;
	top: 50px;
	left: 550px;
}
td:hover{
	background-color: cyan;
}
th:hover{
	background-color: yellow;
}
h2{
	color: red;
}
tr,td{
	color: gray;
}
td{
	height: 50px;
	width: 100px;
}